/***************************************************

****** Baseblog | Kirby Theme ******

*** URL: http://baseblog.sashtown.de
*** Author: Sascha Lack
*** Author URL: http://sashtown.de
*** Made for Kirby CMS [http://getkirby.com]

****************************************************/



/*
 :::  Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}
ol, ul {
  list-style: none;
}


/*
 ::: This is for that the typography was look fine
-------------------------------------------------- */
*{
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale; }



/*
 :::  Global
-------------------------------------------------- */
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  max-width: 45em;
  color: #333;
  background-color: #F8FAF4;
  font-family: 'Work Sans', Helvetica, sans-serif;
  line-height: 1;
  font-size: 90%;
}
@media only screen and (min-width : 40em) {
  body {
    font-size: 100%;
  }
}

@media only screen and (max-width : 719px) {
  body {
    padding: 0 1em 0 1em;
  }
}


main {
  line-height: 1.7;
}



/*
 :::  Links
-------------------------------------------------- */
a:link,
a:visited {
  color: #85144B;
  text-decoration: none;
}
a:hover,
a:active {
  color: #333;
}



/*
 :::  Site header
-------------------------------------------------- */
.site-header {
  padding:  14px 0px 13px 0px;
  font-family: triumpblack, helvetica, arial;
  text-transform: uppercase;
  background-color: #FFDC00;
  width: 100%;
  position: fixed;
  left: 0px;
  background: url("../images/header_image.png");
}
  .site-header a {
    font-size: 25px;
    letter-spacing: 1px;
    background-color: white;
    padding: 0px 10px;  
  }
  .site-header p {
    margin-top: .25em;
    font-size: 1em;
  }
.site-header-background {
    height: 65px;
}

.site-header-content {
    width: 95%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}


/*
 :::  Navigation
-------------------------------------------------- */
.menu {
  margin-bottom: 2em;
}
  .menu li {
    float: left;
    display: inline-block;
  }
    .menu a {
      display: block;
      padding: 0.5em;
      color: #85144B;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #FFDC00;
      margin-right: 18px;
      border-radius: 3px;
      font-weight: 500;
    }
      .menu a:hover {
        color: #FFDC00;
        background-color: #85144B;
      }
    
    .btn_twitter a {
    float: left;
    color: white;
    background-color: #28A9E0;
    margin-top: 10px;
    }

    .btn_twitter a:hover {
    color: white;
    background-color: #3b88c3;
    }

  @media only screen and (min-width : 40em) {
    .menu ul {
      float: left;
    }
      
      .btn_twitter a {
    float: right;
    margin-top: 0px;
    }  
  }



/*
 :::  Search
-------------------------------------------------- */
.search {
  display: block;
  width: 100%;
}
  .search input {
    display: block;
    padding: 0.5em;
    width: 100%;
    font-size: inherit;
    color: #9B9B9B;
    font-family: inherit;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #FFDC00;
    border-radius: 3px;
    background-color: #F8FAF4;
  }
@media only screen and (min-width : 40em) {
  .search {
    float: right;
    width: 35%;
    border-top: none;
  }
    .search input {
      height: 32px;
    }
}

@media only screen and (max-width : 719px) {
  .search {
    margin-top: 15px;
    }
}



/*
 :::  Results
-------------------------------------------------- */
.results {
  margin-bottom: 5em;
  border-bottom: 1px dashed #333;
}
  .results > li {
    padding-bottom: 1em;
    margin-bottom: .5em;
    border-top: 1px dashed #333;
  }
    .results h2 {
      margin-bottom: .25em;
      font-size: 1.75em;
      font-weight: 400;
    }



/*
 :::  Results' heading
-------------------------------------------------- */
.result {
  margin-bottom: 1em;
  font-size: 1.5em;
}
  .result mark {
    background: inherit;
    color: inherit;
  }



/*
 :::  Article basics
-------------------------------------------------- */
article {
  margin-bottom: 4em;
}

  article header {
    padding-bottom: 1.4em;
  }

article footer {
    margin-top: 3em;
  }

article p {
    font-size: 1em;
    margin-bottom: 1.5em;
  }

article p a {
    border-bottom: 1px solid rgba(134, 96, 114, 0.37);
    padding-bottom: 1px;
}



/*
 :::  Article meta
-------------------------------------------------- */
.meta {
  font-size: 0.8em;
}




/*
 :::  Tags
-------------------------------------------------- */
.tags {
  display: inline-block;
}
  .tags li {
    display: inline-block;
    margin-right: .25em;
    text-transform: lowercase;
  }


/*
 :::  Headings
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3;
}
h1 {
  font-size: 28px;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: 400;
}
h4 {
  font-size: 1.5em;
  margin-bottom: .5em;
  font-weight: 700;
}
h5 {
  font-size: 1.25em;
  margin-bottom: .5em;
  font-weight: 400;
  text-transform: uppercase;
}
h6 {
  font-size: 1.1em;
  margin-bottom: .5em;
  font-weight: 700;
}
p {
    font-family: "Roboto Slab";
    font-size: 18px;
    line-height: 27px;
}



/*
 :::  Blockquotes
-------------------------------------------------- */
blockquote {
  margin-bottom: 2em;
  padding: .5em 1em;
  font-style: italic;
  border-left: 10px solid #333;
}
  blockquote p:last-of-type {
    margin-bottom: 0;
  }



/*
 :::  Buttons
-------------------------------------------------- */
.button {
  border-radius: 5px;
}

a.button {
  display: inline-block;
  background-color: #FFDC00;
  padding: 0.5em;
  color: #85144B;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 18px;
  border-radius: 3px;
  font-weight: 500;
  }

  a.button:hover {
    color: #FFDC00;
    background-color: #85144B;
  }



/*
 :::  Code
-------------------------------------------------- */
.content pre {
  margin-bottom: 2em;
  padding: 2em;
  background: #f5f5f5;
  overflow: auto;
}
.content code {
  font-family: 'Menlo', Courier, monospace;
}
.content p code {
  background-color: #eee;
}



/*
 :::  Unordered Lists
-------------------------------------------------- */
.content ul {
  margin-bottom: 1.5em;
  list-style: disc inside;
}
  .content ul ul,
  .content ul ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }



/*
 :::  Ordered Lists
-------------------------------------------------- */
.content ol {
  margin-bottom: 1.5em;
  list-style: decimal inside;
}
  .content ol ul,
  .content ol ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }



/*
 :::  Description Lists [Markdown extra feature]
-------------------------------------------------- */
.content dl {
  margin-bottom: 1.5em;
}
  .content dt {
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.1em;
  }



/*
  :::  Tables [Markdown extra feature]
-------------------------------------------------- */
.content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
}
  .content table th,
  .content table td {
    padding: .5rem 1rem;
    background-color: #eee;
    border: 2px solid #fff;
  }
  .content table th {
    background-color: #ddd;
  }



/*
 :::  Media
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
article figure {
  margin-bottom: 1.5em;
}
  article figcaption {
    margin-top: .25em;
    font-size: 0.8em;
    color: #888;
  }



/*
 :::  Fluid video ratio via Kirbytext
-------------------------------------------------- */
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: auto;
  overflow: hidden;
}
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



/*
 :::  Pagination
-------------------------------------------------- */
.pagination {
  margin: 3em 0 5em;
}
  .pagination .prev {
    float: left;
  }
  .pagination .next {
    float: right;
  }



/*
 :::  Site footer
-------------------------------------------------- */
.site-footer {
  padding: 0.4em 0 2em 0;
  font-size: 18px;
  line-height: 1.5;
  border-top: 4px solid #85144B;
}

    .site-footer p {
        font-family: "work sans", helvetica, arial;
        color: #85144B;
    }




/*
 :::  Clearfix [cf]
-------------------------------------------------- */
.cf:after {
  content: '';
  display: table;
  clear: both;
}



/*
 :::  Visually hidden [vh]
-------------------------------------------------- */
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
